@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: $font-family;
    background-color: $dark-bg;
    color: $text-light;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: $text-muted;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $dark-bg;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 4px;
}